.Container {
    position: absolute;
    left: 50%;
}

.myButton {
    display: none;
}

.disabled {
    display: none;
}


@media (min-width:0) and (max-width:1079px){
    .myButton {
        position: relative;
        margin: 0 auto 0 auto;
        left: -50%;
        margin-top: 500px;
        display: flex;
        background: linear-gradient(to bottom, #1b1c25 5%, #222929 100%);
        background-color: #1b1c25;
        border-radius: 5px;
        border: 1px solid #1b1c25;
        cursor: pointer;
        color: #ffffff;
        font-size: 18px;
        font-weight: 5 00;
        padding: 15px 40px;
        text-decoration: none;
        text-shadow: 0px -1px 0px #1b1c25;
    }

    .disabled {
        position: relative;
        margin: 0 auto 0 auto;
        left: -50%;
        margin-top: 500px;
        display: flex;
        background-color: #86868b;
        border-radius: 5px;
        display: inline-block;
        cursor: default;
        color: #ffffff;
        font-size: 18px;
        font-weight: 5 00;
        padding: 15px 40px;
        text-decoration: none;
    }

    .myButton:hover {
        background: linear-gradient(to bottom, #222929 5%, #1b1c25 100%);
        background-color: #323d3d;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }
}