.Toolbar{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #1b1c25;
    position: relative;
}

.Toolbar li{
    float: right;
}

.Toolbar li a{
    display: block;
    color: beige;
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
}

.Toolbar a:hover,
.Toolbar a:active,
.Toolbar a.active{
    color: steelblue;
    text-decoration: underline;
}