.Body {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    margin: 0 150px 0 150px;

}

.Form {
    position: relative;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding: 0px;
    border-style: none solid;
    border-width: 1px;
    border-color: gray;
}