.Container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-left: 100px;
}


.subContainer1{
    display: block;
    margin-top: 10px;
    }

.subContainer2{
    display: block;
}

.labels {
    display:flex;
    margin-top: 16px;
}

.Inputs {
    display: flex;
    width: 100%;
    height: 19px;
    margin-top: 10px;
    margin-left: 20px;
}

.Container p {
    position: absolute;
    display: block;
    top: 0px;
    font-size: 18px;
    margin-bottom: 0;
    width: 300px;
    text-decoration: underline;
    cursor: pointer;
}

.Container p:hover{
    color: #30397a;
    font-weight: 700;
}

.btnContainer{
    display: flex;
}


@media (min-width:0px) and (max-width:1079px){
    .Container{
        position: absolute;
        margin: 0 auto 0 auto;
        left: 10%;
        right: 0;
        top: 70px;
        padding: 0 0 0px 0;
    }

    .subContainer2{
        width: 50%;
    }

    .Container p {
        top: -50px;
    }

    .subContainer2{
        width: 100px;
    }
}


@media (min-width:600px) and (max-width:1079px){
    .Container {
        left: 13%;
    }

    .Inputs{
        width: 150%;
    }

    .subContainer1{
        margin-right: 50px;
        
    }
}