.Container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-left: 100px;
}


.subContainer1{
    display: inline;
    margin-top: 10px;
}

.subContainer2{
    display: inline;
}

.labels {
    display:flex;
    margin-top: 16px;
}

.Inputs {
    display: flex;
    width: 200px;
    height: 19px;
    margin-top: 10px;
    margin-left: 20px;
}

.Container p {
    position: absolute;
    display: block;
    top: 0px;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

.Container p:hover{
    color: #30397a;
    font-weight: 700;
}